[dir]
working=tmp
store=apk

[receiver]
port=7030

[rpc]
port=7029
auth=fu84nf93

[db]
host=d.jovistar.info
user=root
pass=mysqlpw
name=ndroidas

[ndlcom]
host=127.0.0.1
port=12322

[spiders]
spiders=gfan_spider

[anzhi_spider]
pnpc=3

[appchina_spider]
pnpc=1

[sogou_spider]
pnpc=1

[gfan_spider]
pnpc=10
